In [2]:
import pandas as pd
import sqlite3 as sql

Apuntador = sql.connect("../DataBase/DataUsers.db")

df = pd.read_sql_query("SELECT * FROM Usuarios_Registrados", Apuntador)

In [41]:
df

,Id,Nombre_Usuario,Contraseña,Aula,Rol,Email,CheckMail
0,1,Angel Arevalo,0xb5a 0x21a 0x170 0x211 0x70a 0x7aa 0xa5d 0x702,-1,1,anarevalof@unal.edu.co,0
1,2,Pepito Peres,0xb5a 0x21a 0x170 0x211 0x70a 0x7aa 0xa5d 0x702,-1,1,sa4476002@gmail.com,0

In [3]:
Apuntador.commit()
Apuntador.close()

In [4]:
import sqlite3 as sql

# Connect to the SQLite database
connection = sql.connect("../DataBase/DataUsers.db")
cursor = connection.cursor()

# Get a list of all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Drop each table
for table in tables:
    table_name = table[0]
    cursor.execute(f"DROP TABLE IF EXISTS {table_name};")
    print(f"Dropped table: {table_name}")

# Commit the changes and close the connection
connection.commit()
connection.close()

Dropped table: Roles
Dropped table: Usuarios_Registrados
Dropped table: Aulas
Dropped table: User_Aulas
Dropped table: Aula_plf520
Dropped table: Mundo1_plf520
Dropped table: Mundo2_plf520